<div class="panel panel-default">
  <div class="panel-body">
  <h2 class="notice">	
  		//in development mode, coming soon 
  		<a href="/" class="btn btn-primary btn-large">home</a>
  	</h2>
  </div>
</div>