<div class="container container-fluid">
<div class="col-xs-12 col-sm-6 col-md-8">
	<%= raw @page.content_for(:body) %>
</div>
<div class="col-xs-6 col-sm-6 col-md-4">
	<%= raw @page.content_for(:side_body) %>
</div>

</div>