
	<div class="navbar navbar-inverse navbar-default" >
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="/">gulguling</a>

		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li class="active">
					<a href="/">Home</a>
				</li>
				<li>
					<a href="#">Holidays</a>
				</li>
				<li>
					<a href="#">Contact Us</a>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Discover <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li>
							<a href="hotel/coming_soon">Gilgit Baltistan</a>
						</li>
						<li>
							<a href="#">Mountains of Pakistan</a>
						</li>
						<li>
							<a href="#">Travelling to Karakuram</a>
						</li>
						<li class="divider"></li>
						<li class="dropdown-header">
							holidays
						</li>
						<li>
							<a href="#">accomodations</a>
						</li>
						<li>
							<a href="#">traveling</a>
						</li>
					</ul>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a href="../navbar/">Tour Operators</a>
				</li>
				<li class="active">
					<a href="./">Trasportation</a>
				</li>
				<li>
					<a href="../navbar-fixed-top/">Guides</a>
				</li>
			</ul>
		</div><!--/.nav-collapse -->
	</div>
