<!DOCTYPE html>
<html>
	<head>
		<title>Safari</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<%= stylesheet_link_tag "bootstrap.min", "samba_content"%>
		<%= javascript_include_tag "jquery-1.9.1.js", "bootstrap.min.js"%>

		<%= csrf_meta_tags %>
	</head>
	<body>
		<div class="container container-fluid">

			<div>
				<%= yield%>
			</div>

		</div>

	</body>
</html>
