<!DOCTYPE html>
<html>
	<head>
		<title>Safari</title>
		<%= stylesheet_link_tag    "jquery-ui-1.10.3.custom", "samba", "bootstrap", "bootstrap-theme", :media => "all" %>
		<%= javascript_include_tag "jquery-1.9.1", "bootstrap", "carousel" %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div class="container container-fluid">
		
			<div>
				<%= yield%>
			</div>

		</div>

	</body>
</html>
